<table id="geneTable" class="display">
  <thead>
    <tr>
      <th>Gene</th><th>BF.cls1</th><th>BF.cls2</th><th>BF.total</th><th>qval</th><th>pval</th>
    </tr>
  </thead>
  <tbody>
    {% assign detailed_genes = "SCN2A,CHD8,PTEN" | split: "," %}
    {% for gene in site.data.gene_data %}
    <tr>
      <td>
        {% if detailed_genes contains gene.gene %}
          <a href="/genes/{{ gene.gene }}.html">{{ gene.gene }}</a>
        {% else %}
          {{ gene.gene }}
        {% endif %}
      </td>
      <td>{{ gene["BF.cls1"] }}</td>
      <td>{{ gene["BF.cls2"] }}</td>
      <td>{{ gene["BF.total"] }}</td>
      <td>{{ gene.qval }}</td>
      <td>{{ gene.pval }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
