<table id="geneTable" class="display">
  <thead>
    <tr>
      <th>Gene</th><th>BF.cls1</th><th>BF.cls2</th><th>BF.total</th><th>qval</th><th>pval</th>
    </tr>
  </thead>
  <tbody>
    {% for gene in site.data.gene_data %}
    <tr>
      <td>
        {% if gene.gene == "SCN2A" %}
          <a href="https://www.notion.so/example-scn2a" target="_blank">SCN2A</a>
        {% elsif gene.gene == "CHD8" %}
          <a href="https://www.notion.so/example-chd8" target="_blank">CHD8</a>
        {% elsif gene.gene == "PTEN" %}
          <a href="https://www.notion.so/example-pten" target="_blank">PTEN</a>
        {% else %}
          {{ gene.gene }}
        {% endif %}
      </td>
      <td>{{ gene["BF.cls1"] }}</td>
      <td>{{ gene["BF.cls2"] }}</td>
      <td>{{ gene["BF.total"] }}</td>
      <td>{{ gene.qval }}</td>
      <td>{{ gene.pval }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
